body {
    background-color: #ebe7f3;
}

#about-us {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static1.mujerhoy.com/www/multimedia/202112/02/media/cortadas/adornos-navidad-significado-arbol-navidad-calendario-adviento-elfo-navidad-historias-curiosas-tradiciones-k4F-U160142530034kdD-1248x1248@MujerHoy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us-container {
    padding: 12vh;
}

.about-us-container h1 {
    font-size: 50px;
    color: white;
    font-weight: 600;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}



#values-section {
    background-color: #34216b;
    border-radius: 50px;
}

.values-container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3%;
}

.values-text-content {
    padding: 10px;
}

.values-text-content h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.values-text-content p {
    color: white;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.values-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12vw;
}

.values-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebe7f3;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.values-item-content h2 {
    color: #34216b;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

#family-section {
    background-color: #ebe7f3;
}

.family-container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3%;
}

.family-image {
    display: block;
    align-items: center;
    justify-content: center;
}

.family-image img {
    border-radius: 30px;
    width: 70vw;
    height: 50vh;
    object-fit: cover;
}